body{
    margin: 0;
    background-size: cover;
}
div.Main{
    position: absolute;
    display: block;
    position: absolute;
    background-color: #1d3033;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-indent: -999px;
    z-index: -1;
}
div.Logo{
    position: relative;
    text-align: center;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
    top: 5vh;
}
div.Description{
    font-size: 20px;
}
div.Info{
    position: absolute;
    text-align: left;
    font-size: 45px;
    left: 20vw;
}
div.Info div{
    font-size: 25px;
}
div.Footer{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #2f4144;
    padding-top: 35px;
    min-width: 100%;
    height: 45px;
    color: #7b8e91;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
}
div.DownloadButton{
    position: absolute;
    top: 43%;
    left: 50%;
    background-color: #008000;
    width: 400px;
    margin-left: -200px;
    text-align: center;
    padding: 50px 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid #008A00;
    box-sizing: border-box;
    box-shadow: 0 0 60px 20px #07bb0780;
    cursor: pointer;
    transition: all 0.5s;
}
div.DownloadButton:hover{
    background-color: #009000;
    box-shadow: 0 0 60px 30px #07bb0780;
    border-color: #009A00;
}